extends layout

block content
  noscript You need to enable JavaScript to run this app.

  //- Language
  script(src="/lang/lang.js", defer=true)
  script(src="/js/translator.js", defer=true)

  //- Scripts
  script(src="/js/index.js", defer=true)
  

  //- Hiddens
  input#oAutClientId(type="hidden", value=oAutClientId)
  input#oAuthReturnUrl(type="hidden", value=oAuthReturnUrl)

  //- Page
  div#login
    div.d-flex.align-items-center.justify-content-center(style="height:calc(100vh - 40px);")
      div.row.sb-border.panelBg
        div.col-xs-12.p-0
          div.sbg-identification.p-1#IdentificationTitle >IDENTIFICATION
        div.mt-3.mb-3.text-center
          p.col-xs-12.center#PleaseSignIn Please identify yourself using your discord account.
          button.btn.sbg-primary.row#loginButton(type="button", onClick="authorizeWithDiscord()") Login with Discord
          

  //- h1=title
  //- p Welcome to #{title}
  //- button.btn.btn-primary(type="button") now this is news

  