extends layout

block content
  noscript You need to enable JavaScript to run this app.

  //- Language
  script(src="/lang/lang.js", defer=true)
  script(src="/js/translator.js", defer=true)

  //- Scripts
  script(src="/js/scheduleList.js", defer=true)

  //- Session
  include parts/sessionHeader.pug

  //- Page
  div.container
    div.col-10.offset-1.col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-8.offset-lg-2(style="height:calc(100vh - 55px);")

      //- Title
      .row
        div.p-0.mt-2
          div
            div.col-xs-12.p-0
              if session.leagueOfficial
                div.p-1.ps-2.sbg-identification.unselectable#ScheduleTitleLeagueOfficial > ALL TEAM'S SCHEDULES
              else
                div.p-1.ps-2.sbg-identification.unselectable#ScheduleTitle > YOUR TEAM'S SCHEDULES

            div.col-xs-12.sb-border.panelBg.mt-4.p-2
              table#matchTable
                thead 
                  tr
                    th#tblMatchName.desktop.tablet-l.tablet-p.mobile-l.mobile-p.text-center Match name 
                    th#tblTeam1.desktop.text-center Team 1
                    th#tblTeam2.desktop.text-center Team 2
                    th#tblStart.desktop.text-center Start
                    th#tblEnd.desktop.text-center End
                    th#tblMatchTime.desktop.text-center Match time
                    th#tblLink.desktop.tablet-l.tablet-p.mobile-l.mobile-p.text-center Link
                tbody
                  tr
                    td name
                    td t1
                    td t2
                    td start
                    td end
                    td mt
                    td link
            //- ul.mt-3.mb-3
            //-   if matches == null || matches.length == 0
            //-     li
            //-       a.link There's no matches for your team.
            //-   each match in matches
            //-     li
            //-       p.badge.ms-0.mt-0.mr-0.mb-1 #{match.JSDateTime.toLocaleDateString()}
            //-       a.link(href='schedule/' + match.Name.replaceAll(" ", "-")+'-'+match.Id) #{match.Name}

  include parts/footer.pug