extends layout

block content
  noscript You need to enable JavaScript to run this app.

  //- Language
  script(src="/lang/lang.js", defer=true)
  script(src="/js/translator.js", defer=true)
  script(src="/js/moment.js")
  script(src="/js/moment-timezone.js")
  script(src="/js/spacetime.min.js")

  //- Scripts
  link(rel="stylesheet", href="/stylesheets/calendar.css")
  link(rel="stylesheet", href="/stylesheets/switch.css")
  script(src="/js/schedule.js", defer=true)

  //- Passed variables
  script.
    var teamsJSON = '!{teams}'
    var matchDetailsJSON = '!{matchDetails}';

  //- Page
  div#schedule.container
    div.col-xs-12(style="height:100vh;")

      //- Title
      div.row
        h2.mt-4.mb-4.text-center(style="min-height: 40px")=matchTitle

        div.col-xs-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.p-0
          div.row.p-0.m-0
            div.offset-2.col-4.unselectable.tab.active.me-3.text-center.p-0(onclick="changeTab(this, 1)") TEAM
            div.col-4.unselectable.tab.text-center.p-0(onclick="changeTab(this, 2)") ME
          
        div.tabSpacer.mb-3.col-xs-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.p-0
            
        div.col-xs-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3.p-0.mb-5
          
          div.col-xs-12.p-0.ps-3.sbg-identification > SCHEDULE
            //- div.sbg-identification.p-1 > SCHEDULE

          div.col-sx-12.p-0.mt-4.panelBg.sb-border
            //- Timezone
            div.col-auto.text-center.pt-3 Your time zone 
              select.col-auto#timezone(name="timezone", onchange="loadCalendar()")

            //- Display filters and toggles
            div#filter.row.p-0.pt-4.pb-4.ms-0.me-0.justify-content-center
              p.col-auto.me-2.mb-0.d-none.d-sm-block 0/10+
              div.sb-border.row.col-auto.p-0
                div.active0.text-center.unselectable.pointer.p-0(style="width:  25px; height: 25px; background-color: black; border-radius: 5px 0px 0px 5px;", data-toggle="1") 0
                div.active1.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="1") 1
                div.active2.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="2") 2
                div.active3.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="3") 3
                div.active4.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="4") 4
                div.active5.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="5") 5
                div.active6.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="6") 6
                div.active7.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="7") 7
                div.active8.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="8") 8
                div.active9.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width:  25px; height: 25px", data-toggle="9") 9
                div.active10.text-center.unselectable.pointer.toggleCalendarVisibility.p-0(style="width: 25px; height: 25px; border-radius: 0px 5px 5px 0px;", data-toggle="10") 10
              p.col-auto.ms-2.mb-0.d-none.d-sm-block 10+/10+

            table.unselectable.bc-collapse#calendar