script(src="/js/general.js", defer=true)

//- Session
div.d-flex.align-items-center.sessionContainer.p-0
    if session != null
        if session.avatarUrl != null && session.avatarUrl.length > 0
            img.unselectable.align-middle.ms-5(src=session.avatarUrl, style="height: 32px; width: auto")
        p.unselectable.col-auto.p-0.m-0.align-middle.ms-3=session.name
        if session.leagueOfficial
            p.badge.unselectable League Official

    //- For bread crumbs
    if breadCrumbs != null
        ul.breadcrumb.align-middle.p-0.m-0
            li
            each breadCrumb in breadCrumbs
                if (breadCrumbs.indexOf(breadCrumb) == breadCrumbs.length -1)
                    li=breadCrumb.name
                else 
                    li
                        a(href=breadCrumb.url) #{breadCrumb.name}

    div.ms-auto.me-5
        button.btn.gb.me-1(style="width: 30px; height: 20px;", onClick="changeLanguage('en')")
        button.btn.br.me-1(style="width: 30px; height: 20px;", onClick="changeLanguage('pg')")
        button.btn.es.me-5(style="width: 30px; height: 20px;", onClick="changeLanguage('es')")
        if session != null
            button.btn.sbg-danger.ms-auto.me-5#LogoutButton(type="button" onClick="logOut()") Logout

    